<form class="form-inline">
    <input id="url" name="url" class="form-control" placeholder="http://" />
    <a href="#" id="build" name="build" class="btn btn-primary disabled" role="button">Go!</a>
    <p id="url2" class="small"></p>
</form>
<div class="output">
    <div id="error" class="alert alert-warning" hidden></div>
    <div id="result"></div>
</div>