.auto {
    margin: 0 auto;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    width: 640px;
}
input,
select,
textarea {
    max-width: 550px;
}
.output {
    padding-top: 30px;
}
.small {
    padding-top: 5px;
    font-size: 8px;
}